.timeline-effect {
  animation: 20s linear 0s infinite timeline;
}

.shoot-effect {
  animation: 0.1s ease-out 0s 1 shoot;
}

.move-effect {
  animation: 0.5s ease-in 0s infinite move;
}

.faster-move-effect {
  animation: 0.1s ease-in 0s infinite faster-move;
}

@keyframes timeline {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes shoot {
  0% {
    border: white;
    border-width: 2px;
  }
  100% {
    border-color: red;
    border-width: 12px;
  }
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}

@keyframes faster-move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
